# docker-compose.yml
services:
  qdrant:
    image: qdrant/qdrant:v1.15.1
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"   # REST API
      - "6334:6334"   # gRPC
    volumes:
      - ./qdrant_data:/qdrant/storage
